/* Footer Sprite Icons */
.pageFooter .spriteIcon { display: inline-block !important; background: url(/yas/images/master_sprite.webp); text-align: left; overflow: hidden; }
.pageFooter .fbIcon { background-position: 476px -200px; width: 28px; height: 28px; border-radius: 50px; }
.pageFooter .twitterIcon { background-position: 476px -234px; width: 28px; height: 28px; border-radius: 50px; }
.pageFooter .instaIcon { background-position: 476px -268px; width: 28px; height: 28px; border-radius: 50px; }
.pageFooter .linkdIn { background-position: 476px -302px; width: 28px; height: 28px; border-radius: 50px; }
.pageFooter .youtubeIcon { background-position: 476px -364px; width: 28px; height: 28px; border-radius: 50px; }
.pageFooter .phoneIcon { width: 24px; height: 24px; background-position: 536px -246px; vertical-align: middle; margin-right: 7px; }
.pageFooter .whiteMailIcon { width: 24px; height: 24px; background-position: 536px -219px; vertical-align: middle; margin-right: 7px; }

